body {
font-size: 25px;
padding: 0;
margin: 0;

background: black;

}

#mobileT1 {
margin: 1em auto;

 li{
  text-align: center;
  display: table-cell;
  float: left;
  list-style: none;
  display: block;
  font-size: .75em;
  box-sizing: border-box;
  border: .15em solid lightgrey;
  width:  50%;
  color: cornflowerblue;
  padding: .5ex 0em .5ex 0em;
}
.selected1 {
border-bottom: none;
border-left: none;
border-right: none;
border-top: .25em solid orange;
color:grey;
  }
a:hover {
    cursor: pointer;
    }
}





.mobile-info {
  font-size: 1.5ex;
  clear: both;

  .propic{
    list-style: none;
    float: left;
  }

  img {
    width: 8em;
    height: 8em;
    padding-right: 2ex;
      }

  .writ li{
    list-style: none;
    padding-left: 2ex;

  }

#tiTle-1 {
  font-size: 5ex;
  }

#tiTle-2 {
  font-size: 2.25ex;
  }
}

.social-box {
  display: block;
  margin: auto 1em auto 1em;
  background-color: #F9F9F9;
  border: .25ex solid lightgrey;
  margin: auto;

  .clicky {
    text-align: center;
    background-color: #60B842;
    color: white;
    border: none;
    font-size: 3ex;
    padding: 0 1em 0 1em;


  }
  .clicky:hover{
    cursor: pointer;
  }

   {
    list-style: none;
    display: inline-block;
  }
} 
