

.unit-span-1 {
  list-style: none;
  text-align: center;
  color: cornflowerblue;
  font-size: 1em;


&#selected1 {
  border-bottom: none;
  border-left: none;
  border-top: 2px solid orange;
  color: grey;
  }
  &#nonSelected {
      border-right: none;
    }
    &:hover {
      cursor: pointer;
    }

}

.unit-span-2 {

  #avatar {
      width: 10em;
      height: 10em;
    }
  li {
    list-style: none;
  }
}
