.mobile {
  max-width: 300em;
  min-width: 20em;
}

.grid {
  $grid-width: 100%;
  @extend .clearfix;
  width: $grid-width;
  margin: 1em auto;


  .unit-span-1{
     width: ($grid-width/5) * 2.5;
     float: left;
     @extend .clearfix;

    box-sizing: border-box;
     padding: .5em 1em .5em 1em;
     border: .25ex solid lightgrey;
   }

   .unit-span-2 {
     width: ($grid-width/5);
     @extend .clearfix;
     outline: 1px solid red;
     float: left;
     display: inline-block;

       margin-right: 1ex;
       padding-left: 2ex;
     }

}
